mixin goods-item(imgname, text)
  li.goods__item
    img.goods__item-image(
      src=`img/goods/${imgname}.png`,
      srcset=`img/goods/${imgname}@2x.png 2x`,
      width="207",
      height="166",
      alt=text
    )
    .goods__item-text #{text}

section.goods
  .container.goods__container
    h2.goods__title Доставка для бизнеса и частных лиц
    ul.goods__list
      +goods-item("gift", "Подарки и сувениры")
      +goods-item("cloth", "Одежда")
      +goods-item("docs", "Документы")
      +goods-item("anything", "Что угодно")
    button.btn.goods__btn.js-open-modal-form Заказать звонок

