section.info
  .container.info__container
    h2.visually-hidden Условия доставки
    .info__map
      .info__map-image
        img(
          src="img/map.png",
          srcset="img/map@2x.png 2x",
          alt="Карта России с выделенным Красноярским краем",
          width="321",
          height="189"
        )
      .info__map-text
        | Оперативная доставка по Красноярску – это к нам!
    .info__conditions
      ul.info__conditions-list
        li.info__conditions-item Цена услуги от 250 руб
        li.info__conditions-item
          | Доставка малогабаритных грузов до 10 кг <br>(доп. стоимость за вес выше)
