section.main
  .container.main__container
    h1.visually-hidden Курьерская служба "Бегущий Человек"

    .main__logo
      .main__logo-man
        img(src="@img/logo/logo.svg",
            alt="Курьерская служба \"Бегущий Человек\"",
            width="340",
            height="257")
      .main__logo-text
        img(src="@img/logo/logo-text.svg",
            alt="Курьерская служба \"Бегущий Человек\"",
            width="340",
            height="257")

    .main__order.js-order-form-main
      - var formID = 1
      include ../blocks/order
